.contactPage {
  display: flex;
  margin: 50px auto 150px auto;
  width: 1000px;
  .socials {
    margin-left: 20px;
    min-width: 40%;
    p {
      line-height: 24px;
    }
    .socialsTitle {
      font-family: "Indie Flower", sans-serif;
      font-weight: bold;
      font-size: 2em;
    }
    .smLinks {
      display: inline;
      font-weight: bold;
      color: rgb(238, 57, 127);
      margin-right: 20px;
      &:hover {
        color: #8d1164;
      }
      svg {
        position: relative;
        top: 7px;
        padding-right: 5px;
        margin-top: 10px;
      }
    }
  }
  .sideDecoration {
    border-left: 4px solid #f172a3;
    border-radius: 30%;
    margin-right: 50px;
  }
  .contactFormContainer {
    min-width: 60%;
    display: flex;
    flex-direction: column;
    margin-right: 50px;
    .contactTitle {
      font-family: "Indie Flower", sans-serif;
      font-weight: bold;
      font-size: 3em;
    }
    .contactSubtitle {
      color: grey;
      margin: 5px 0 40px 0;
    }
    .MuiFormControl-root {
      width: 100%;
      margin-right: 20px;
      margin-bottom: 25px;
    }
    .buttonContainer {
      display: flex;
      justify-content: space-between;
      .sendButton {
        padding: 0 40px;
        max-height: 40px;
      }
      .attachImage {
        input {
          display: none;
        }
        label {
          display: block;
          text-align: right;
        }
        .attachButton {
          font-size: 16px;
          text-transform: none;
        }
        .imageAttached {
          // max-width: 152px;
          // overflow: hidden;
          font-size: 12px;
          color: rgb(131, 131, 131);
        }
      }
    }
  }
}
