.footer {
  max-width: 1200px;
  margin: 0 auto;

  .lineAbove {
    width: 525px;
    margin: 2em auto 0 auto;
    border-top: 1px solid #dadada;
  }

  .footerLinks {
    display: flex;
    justify-content: space-between;
    padding: 3em;
    line-height: 28px;

    .subtitle {
      font-family: "Noto Sans JP", sans-serif;
      padding-bottom: 15px;
    }
    a {
      display: block;
      padding: 8px 0;
      &:hover {
        color: rgb(238, 57, 127);
      }
    }
    .socials {
      max-width: 25%;

      p {
        margin-top: 0;
      }
      a {
        display: inline;
        font-weight: bold;
        color: rgb(238, 57, 127);
        &:hover {
          color: #8d1164;
        }
      }
      svg {
        position: relative;
        top: 7px;
        padding-right: 5px;
        margin-top: 10px;
      }
      .second {
        padding-left: 45px;
      }
      .email {
        color: black;
        font-weight: normal;
        &:hover {
          color: rgb(238, 57, 127);
        }
      }
    }
  }

  .logo img {
    margin-top: 50px;
    width: 200px;
  }
}

// Mobile Media
@media only screen and (max-width: 600px) {
  .footer {
    max-width: 600px;
    .lineAbove {
      max-width: 400px;
    }
    .logo img {
      display: none;
    }
    .footerLinks {
      padding: 3em 20px;
      .socials {
        max-width: 50%;
        .first-social-link {
          margin-right: 70px;
        }
        .second {
          padding-left: 0;
        }
      }
    }
  }
}
