.loadError {
  text-align: center;
  svg {
    color: grey;
    font-size: 160px;
    margin: 20px;
  }
  .loadSymbol {
    animation: rotation 3s infinite linear;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
