.topnav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 2.4em;
  font-size: 1.2rem;
  padding: 0.6em 1em;
  div {
    display: flex;
    align-items: center;
  }
  h1 {
    font-family: "Noto Sans JP", sans-serif;
    font-size: 1.5em;
  }
  a {
    padding: 0em 1rem;
    color: black;
    font-family: "Lobster", cursive;
    text-decoration: none;

    &:hover {
      color: #ee397f;
    }
  }
  svg {
    &:hover {
      color: rgb(238, 57, 127);
    }
  }
  .MuiIconButton-root {
    color: black;
    margin: 0 0.2em 0 0.5em;
    &:hover {
      background-color: none;
    }
  }
}
