.topnav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 2.4em;
  font-size: 1.2rem;
  padding: 0.6em 1em;
  div {
    display: flex;
    align-items: center;
  }
  h1 {
    font-family: "Noto Sans JP", sans-serif;
    font-size: 1.5em;
  }
  a {
    padding: 0em 1rem;
    color: black;
    font-family: "Lobster", cursive;
    text-decoration: none;

    &:hover {
      color: #ee397f;
    }
  }
  svg {
    &:hover {
      color: rgb(238, 57, 127);
    }
  }
  .MuiIconButton-root {
    color: black;
    margin: 0 0.2em 0 0.5em;
    &:hover {
      background-color: none;
    }
  }
  .hamburger-menu__icon {
    display: none;
  }
}
.hamburger__menu-item {
  background-color: #a05281;
  color: antiquewhite;
  transition: 200ms ease;
  font-size: 20px;
  padding: 18px;
  letter-spacing: 1.5px;
}
.hamburger__social-links {
  display: flex;
  a {
    color: antiquewhite;
    font-size: 32px;
    display: flex;
    align-items: center;
    .MuiSvgIcon-root {
      width: 32px;
      height: 32px;
      padding-left: 24px;
    }
  }
}

// Mobile Media
@media only screen and (max-width: 600px) {
  .topnav {
    h1 {
      font-size: 1.3em;
    }
    .topnav__desktop-nav {
      display: none;
    }
    .topnav__logo-title {
      display: block;
    }
    .hamburger-menu__icon {
      height: 100px;
      display: flex;
      align-items: center;
      img {
        height: 40px;
        width: 40px;
      }
    }
  }
}
