.paymentPage {
  display: flex;
  justify-content: space-around;

  .paymentFormContainer {
    .contactDetailContainer {
      .MuiFormControl-root {
        width: 100%;
        margin-right: 20px;
        margin-bottom: 10px;
      }
    }
  }
  .result-message {
    display: block;
  }
  .hidden {
    display: none;
  }

  .paymentItems {
    border-left: 2px solid #dadada;
    min-width: 40%;

    .paymentItemTitle {
      margin-left: 5px;
      font-size: 22px;
      font-weight: bolder;
    }

    .arrowIcon {
      border-bottom: 1px solid #cccbcb;
      width: 80%;
      margin: 0 auto;
      svg {
        width: 100%;
        margin: 0 auto;
      }
    }

    .productCardsContainer {
      overflow-y: scroll;
      overflow-x: hidden;
      padding-right: 10px;
      margin: 10px 15px;
      height: 120px;
      .productCards {
        display: flex;
        height: 100px;
        border-bottom: 1px solid #dadada;
        justify-content: space-between;
        .imageThumbnail {
          min-width: 30%;
          img {
            max-width: 100%;
            margin-left: 50%;
            transform: translateX(-50%);
            height: 100%;
          }
        }
        .namePrice {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          font-weight: bold;
          font-size: 15px;
          margin-bottom: 3px;
          max-width: 60%;
        }
      }
    }
  }
}
